  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px 0;
    font-size: 30px;
    font: sans-serif;
  }

  p {
    margin: 0;
  }

  .body {
    margin: 4px;
  }

  .toolbar {
    height: 60px;
    margin: -8px;
    display: flex;
    align-items: center;
    background-color: #9069a4;
    color: white;
    font-weight: 600;
  }

  .content {
    display: flex;
    margin: 32px auto;
    padding: 0 250px;
    max-width: 960px;
    flex-direction: column;
    align-items: left;
  }
  .datos{
    color: #9069a4;
    font-size: 20px;
  }

  input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .button {
    background-color: #9069a4; /* Green */
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }
